<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../public/stylesheets/styleAbout.css">
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p>Nous sommes un groupe junior de développeur, Nous avons eu l'idée de réaliser un site permettant au particulier et au
            professionnels de pouvoir publier des paniers alimentaires qui seraient en trop pour
            des personnes qui seraient dans le besoin cependant notre site est toujours en développement car c'est une idée innovatrice de ce fait la conception d'un tel site n'est pas commun , du fait de la difficulté de sa réalisation


            Corrigé avec https://www.corrector.co/fr/</p>

            </div>
        </div>
    </div>
</body>
</html>
