<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Contact </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../public/images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/javascripts/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/javascripts/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/javascripts/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/contact/util.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/contact/main.css">
	<!--===============================================================================================-->
	<script type="text/javascript">
		function submitEmailForm(form) {
			var obj = new XMLHttpRequest();
			obj.onreadystatechange = function(){
				if(obj.readyState == 4){
					if(obj.status == 200){
						var res = JSON.parse(obj.responseText);
						alert(res.message);
					}
					else{
						alert("XMLHttp status " + obj.status + ": " + obj.statusText);
					}
				}
			};
			obj.open("post", form.action, true);
			obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
			obj.send(JSON.stringify({ name: form.name.value, email: form.email.value, message: form.message.value }));
			return false;
		}
	</script>

</head>

<body>


<div class="container-contact100">

	<div class="wrap-contact100">
		<%- include partials/messages.ejs %>

		<form action="/contact" class="contact100-form validate-form" method="post" onsubmit="return submitEmailForm(this)" >
				<span class="contact100-form-title"  >
					Envoyez-nous un message
				</span>

			<div class="wrap-input100 validate-input" data-validate="Please enter your name">
				<input class="input100" type="text" name="name" placeholder="Full Name">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
				<input class="input100" type="text" name="email" placeholder="E-mail">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
				<input class="input100" type="text" name="phone" placeholder="Phone">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Please enter your message">
				<textarea class="input100" name="message" placeholder="Your Message"></textarea>
				<span class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Send
						</span>
				</button>
			</div>
		</form>
	</div>
</div>



<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="../public/javascripts/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../public/javascripts/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../public/javascripts/vendor/bootstrap/js/popper.js"></script>
<script src="../public/javascripts/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../public/javascripts/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../public/javascripts/vendor/daterangepicker/moment.min.js"></script>
<script src="../public/javascripts/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../public/javascripts/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../public/javascripts/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-23581568-13');
</script>

</body>
</html>