<!doctype html>
<html>
  <head>
    <title>Welcome to Ironhack!</title>
    <link rel="stylesheet" href="../public/stylesheets/main.css">
  </head>
  <body>
    <main role="main">
      <h1>Ironhack</h1>

      <h2>
        Bienvenue Sur!
          <small> Un-Don-Un-Sourire.fr </small><br>
          <small> Vous allez bientot pouvoir réserver vos paniers.</small>
      </h2>
	  <br>
	  <br>
	  <br>
	  <a href="/users/login"> Inscription</a><br>
        <br>

        <a href="/about"> About </a>
        <br>
        <br>
        <a href="/Contact"> Contact</a>

    </main>
	


    <video autoplay loop muted poster="media/background-video-poster.jpg">
      <source src="../public/images/background-video.webm" type="video/webm">
      <source src="../public/images/background-video.mp4"  type="video/mp4">
    </video>

    <div class="video-overlay"></div>
  </body>
</html>